<div class="content">
  <div class="side">
    <h1>upFont</h1>
  </div>
  <div id="fonts" class="transitions-enabled">
    <% @fonts.each do |f| %>
      <div class="box">
        <h1 style="<%= f.font_family %>"><%= f.name %></h1>
        <p><%= f.weight %></p>
        <p>Created by <%= f.styles_by %></p>
      </div>
    <% end %>
  </div>
</div>

