// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

p:first-of-type {
  font-size: 7px;
  text-align: center;
}

p:nth-of-type(2) {
  font-size: 10px;
  text-align: center;
}

p:last-of-type {
  font-size: 15px;
  text-align: center;
}

a {
  margin: 50px 0px 0px 100px
}

.fa.fa-arrow-circle-o-up.fa-2x {
  color: #bbb;
  text-decoration: none;
}

.fa.fa-arrow-circle-o-up.fa-2x.liked {
  color: #E91E63;
  text-decoration: none;
}


html, body {
    height: 100%;
    margin: 0;
}

.col-md-4 {
  width: 100%;
  height: 250px;
}

.box {
  width: 300px;
  height: 300px;
  padding: 40px;
}

div.content {
  margin-left: 250px;
}

div.side {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 280px;
    padding: 10px;
}